/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Utils */
body {
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 150px 1fr 1fr;
}

.container > * {
    justify-self: center;
}

/* Header */
.header {
    align-self: center;
}

.header > h1 {
    font-size: 90px;
}

/* Main */
.board-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.cell {
    background-color: lightblue;
    border: 1px solid black;
    cursor: pointer;
}

.cell:hover {
    filter: brightness(90%);
}

.cell:active {
    filter: brightness(70%);
}

/* Footer */
.footer > div {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.footer p {
    font-size: 40px;
    font-weight: bold;
}   

/* Modals */
.modal {
    width: 400px;   
    padding: 2rem;
    padding-bottom: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 5%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form * {
    font-size: 20px;
    padding: 0.5rem;
}

.form-title {
    font-size: 40px;
}

